<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      routerLink="home"
      matTooltip="Home"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      matTooltip="About us"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>info</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      matTooltip="Jobs"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>work</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      matTooltip="Clients"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>person_outline</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      matTooltip="Employees"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>badge</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      matTooltip="Contact Us"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>call</mat-icon>
    </button>
  </mat-toolbar>
</p>
