
<div>
    <div class="bg-image">
        <div class="wrapper">
            <input type="text" class="input"
            placeholder="What are you looking for?">
            <div class="searchbtn"><i class="fas fa-search"></i></div>
        </div>
        <div class="wrapper2">
            <button mat-raised-button color="primary" (click)="register()">Register</button>
        </div>
    </div>

    <div class = "jumbotron bg-secondary" >

      <div class = "container">
         <h1>We're leaders in</h1>
         <p>Creative Digital Recruitment</p>

         <h4>Based in Surry Hills the creative hub of sydney we are surronded by cretivity and
           that reflects on the type of jobs we recruit for
         </h4>
         <p style="margin-top:50px">
            <a class = "btn btn-primary btn-lg" role = "button">Learn more</a>
         </p>
      </div>

   </div>
</div>
