

.bg-image{
    background-image: url('./../../assets/images/devise-and-consultancy-office-D8JCE1.jpg');
    height: 80vh;
    filter: blur(0.2px);
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #303F9F;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.wrapper2{
	position: absolute;
    top: 70%;
    left: 45%;
    // transform: translate(-50%, -50%);
    // max-width: 550px;
    // width: 100%;
    // padding: 15px;
    // display: flex;
    // justify-content: space-between;
    // border-radius: 5px;
}


.jumbotron{
  height: 500px;
  border:solid 1px;
}

.jumbotron h1
{
  font-style: italic;
   padding-top: 20px;
   text-align: center;
}

.jumbotron p{
  padding-top:13px;
  font-size:55px;
  font-style: italic;
  text-align: center;
}

.jumbotron divider{
  border-top-color: #7e418d;
  border-top-width: 18px;
}


.jumbotron h4{
  padding-top: 50px;
  text-align: center;
}


